---
import InternshipApply from "../../../components/svelte/internshipApply.svelte";
import Layout from '../../../layouts/Layout.astro';
import { details } from "../../../apiData/internshipdetails";


export async function getStaticPaths({ params }) {
  return details.map((detail) => {
    return {
      params: { jo: detail.jo.toString() },
      props: { detail }
    };
  });
}

const {jo} = Astro.params;
const detail = details.find(detail => detail.jo.toString() === jo);

if (!detail) {
  throw new Error(`Detail not found for jo: ${jo}`);
}

---

<Layout>
    <main>
        <InternshipApply client:visible {detail}/>
    </main>
</Layout>
