---
import EventLayout from '../layouts/eventLayout.astro';
import Event from '../components/svelte/event/home.svelte';

---


<EventLayout title="Sachtak.com">
	<main>
          <Event client:only/>
	</main>
</EventLayout>


<style>

	
</style>
