---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/svelte/homePage.svelte';


---


<Layout title="Sachtak.com">
	<main>
		<HomePage client:visible/>	
	</main>
</Layout>


<style>

	
</style>
