---
import Internship from "../components/svelte/internships.svelte";
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <main>
        <Internship client:visible/>
    </main>
</Layout>