@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden !important;
}
h2 {
  font-family: "Arial", sans-serif !important;
}
:root {
  --bs-danger: #dc3545;
  --bs-background: #ffdbca9c;
  --bs-feedback: #424283;
}

/* Styling for different change types */
.added {
  background-color: #e6ffed;
  color: #22863a;
}

.modified {
  background-color: #ffe6e6;
  color: #cb2431;
}

.removed {
  background-color: #ffeef0;
  color: #d73a49;
}

.key {
  color: #d73a49;
}

.string {
  color: #005cc5;
}

.number {
  color: #d73a49;
}

.boolean {
  color: #e36209;
}

.null {
  color: #6a737d;
}
.main-container::-webkit-scrollbar,
.sub-container::-webkit-scrollbar {
  width: 5px;
}
.tab-content::-webkit-scrollbar,
.modal-box::-webkit-scrollbar,
.databaseMenuCol::-webkit-scrollbar,
.tasks-content::-webkit-scrollbar {
  width: 5px;
}
.btn {
  min-height: 2rem !important;
  height: 1rem !important;
}
.font600 {
  font-weight: 600;
}
.accordion-button:focus {
  box-shadow: none;
}
/* timer buttons popup */
.buttonspopup {
  position: absolute;
  top: 1.4%;
  left: 33%;
  z-index: 9999;
}
.workstatuspopup {
  height: auto;

  width: auto;
  position: absolute;
  top: 9%;
  left: 22%;
  z-index: 9999;
}
.hoverworkvalue {
  cursor: pointer;
  display: inline-block;
}
.hoverworkvalue:hover {
  color: orange;
}

/* edit option */
.editoption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  width: 30vw;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.blurred > *:not(.editoption) {
  filter: blur(4px);
}
.run-box {
  height: 70vh;
  width: 50vw;
  position: absolute;
  bottom: 8%;
  left: 24.9%;
  z-index: 99999;
  padding: 1rem;
  border-radius: 15px;
  overflow: auto;
}
.opennewbox {
  width: 47vw;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 99999;
  border-radius: 12px;
  overflow: auto;
}
.run-box::-webkit-scrollbar {
  width: 5px;
}

input:focus {
  box-shadow: none !important;
}
.test-box .select-test-type {
  padding: 0.35rem;
  border-right: 0;
  cursor: pointer;
  width: 17%;
  position: absolute;
  left: 2%;
  top: 3.3%;
  z-index: 999;
}
.test-box .input-test {
  padding: 0.39rem 0.34rem 0.34rem 0.34rem;
  border: 0;
  width: 85%;
  max-width: 100%;
  outline: 0;
  position: relative;
}
.output-box {
  overflow: auto;
}
.output-box::-webkit-scrollbar {
  width: 5px;
}
.tab a.active {
  color: red !important;
}
.subtab a.active {
  color: burlywood !important;
}
.problem-box {
  display: none;
  border-right: 5px solid darkgray;
  width: 0;
  position: absolute;
  left: 0;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.problem-list-hover:hover {
  background-color: lightgreen;
}
.btn:focus {
  box-shadow: none;
}

.problem {
  display: block;
  width: 40vw;
  height: 100vh;
}
.run-code {
  max-width: 100%;
  z-index: 99;
  padding: 0rem 0.7rem;
}
.code-content {
  overflow: auto;
  height: 80.4vh;
}
.code-content::-webkit-scrollbar {
  width: 5px;
}

/* Example of custom styles */
.bg-highlight {
  background-color: #f0f8ff; /* Light background color */
  padding: 5px;
  border-radius: 4px;
}
.bold-text {
  font-weight: bold;
}
.queryTabs .nav-item .active {
  border-bottom: 4px solid green;
}
.borderafter::after {
  content: "";
  position: absolute;
  max-width: 100vw;
  left: 0%;
  height: 3px;
  width: 100%;
  top: 95%;
  color: green;
  border-bottom: 2px solid green;
  transition: border-bottom 0.5s ease-in-out;
}

.second-col {
  max-width: 100%;
}
.settingboxcollection::-webkit-scrollbar,
.scrollMiddleContent::-webkit-scrollbar {
  width: 5px;
}

.scrollTableContent::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.runnav .nav-item .active {
  border-bottom: 3px solid var(--bs-danger);
}
.runnav .nav-item .active h6 {
  color: var(--bs-danger);
}
.code-area {
  height: 83vh;
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  border: 0;
  outline: 0;
  opacity: 1;
  padding: 0.5rem 0.3rem;
  z-index: 9999;
}
.variablechoosebox {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 38%;
}
.hoverlist {
  cursor: pointer;
}
.variablechooseboxcontainer {
  position: absolute;
  width: 20vw;
  max-width: 100vw;
  z-index: 99999;
  top: 10%;
  left: 38%;
}
.postman-area {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  border: 0;
  outline: 0;
  overflow: auto;
  padding: 0.5rem 0.3rem;
}

[type="radio"]:checked {
  background-image: none;
}

.postman-area button,
.postman-area select {
  font-size: 12px;
  font-weight: 500;
}
select:not([size]) {
  background-image: none !important;
}
.postman-area input,
.postman-area select {
  padding: 4px !important;
}
.postman-area {
  font-size: 14px;
}
::placeholder {
  font-size: 10px;
}
.checked\:bg-gray-100:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}

.hacker {
  height: 100vh;
  overflow: hidden;
}
.hacker-container {
  /* width: 90vw; */
  margin: 0 auto;
  height: 100vh;
  font-size: 14px;
}
.first-col {
  border-right: 4px solid darkgray;
  width: 341.5px;
  max-width: 100%;
}
.third-col {
  width: 300px;
  max-width: 100%;
  min-width: 270px; /* Set minimum width to prevent collapsing */
  resize: horizontal;
  overflow: hidden;
  position: relative;
}

.resize-handle {
  width: 4px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  position: absolute;
  left: 0;
  top: 0;
}
.left-col {
  width: 15vw;
  max-width: 100%;
  min-width: 10vw; /* Set minimum width to prevent collapsing */
  resize: horizontal;
  overflow: hidden;
  position: relative;
}
.resize-handle-left {
  width: 4px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
}
.bi,
i {
  cursor: pointer;
}
.hacker-box {
  height: 100vh;
}
.first-col,
.code-container {
  height: 89vh;
}
.toggleFirstCol,
.toggleThirdCol {
  height: 93vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid darkgray;
}
.toggleThirdCol {
  width: 2vw;
  padding: 0.6rem 1rem;
  border-right: 0;
  border-left: 4px solid darkgray;
}
.first-col {
  overflow: auto;
}
.first-col::-webkit-scrollbar {
  width: 5px;
}

.task-content {
  overflow: auto;
  height: 63vh;
}
.row {
  --bs-gutter-x: 0;
}
.plus-box {
  font-weight: bold;
}

.serial-no {
  overflow: auto;
}
.serial-no::-webkit-scrollbar {
  width: 5px;
}
.accordion-button {
  box-shadow: none;
}
.second-col::-webkit-scrollbar {
  width: 5px;
}

.mobileNavbar {
  display: none;
}
.mobileSidebar {
  display: none;
}
.mobileRightSidebar {
  display: none;
}
.closeIcon{
  display: none;
}


@media screen and (max-width: 600px) {
  .navbarStar {
    display: none;
  }
  .closeIcon{
    display: block;
    margin-top:0.3rem;
  }
  

  .iconList{
    display: none;
  }
  .left-col {
    min-width: 25vw;
  }
  .mobileNavbar {
    display: block;
  }
  .mobileNavbar .subnav {
    flex-direction: column !important;
  }
  .mobileSidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: #fff;
    height: 100%;
    width: 23vw;
    border-right: 3px solid #6a737d;
    transition: all 0.6s ease-in-out;
  }
  .mobileRightSidebar {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    background-color: #fff;
    height: 100%;
    width: 21vw;
    border-left: 3px solid #6a737d;
    transition: all 0.6s ease-in-out;
  }
  .toggleFirstCol {
    position: absolute;
    left: 0%;
    top: 0;
    z-index: 99999;
    background-color: #fff;
    height: 100%;
    width: 23vw;
    border-right: 3px solid #6a737d;
    transition: all 0.7s ease-in-out;
    width: 17vw !important;
  }

  .databaseMenuCol {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw !important;
    max-width: 50vw !important;
    z-index: 999999999;
    transition: all 0.7s ease-in-out;
  }

  .mobileButtonsMiddleScreen {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .databaseMenuCol {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 31vw !important;
    max-width: 50vw !important;
    z-index: 999999999;
    transition: all 0.7s ease-in-out;
  }
}
